/*本情報中央寄せ*/
#book_p{
  text-align: center;
}
/*本情報横並び*/
#book{
  text-align: center;
  color:#666;
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 50px;
}
/*表紙画像設定*/
#image{
  margin-top: 50px;
}
/*画面下の文字*/
#text{
  text-align: center;
  color: #666;
  margin-top: 20px;
  font-size: x-large;
}
/*ボタン中央揃え*/
#button_p{
  text-align: center;
  margin-bottom: 50px;
}
/*ボタン横並び*/
#button{
  margin: 10px 20px;
  display: inline-block;
}