/*画面の上の文字*/
#text{
  text-align: center;
  font-size: x-large;
  color: #666;
  margin-top: 50px;
  margin-bottom: 50px;
}
/*カテゴリ中央寄せ*/
#category_p{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
/*横並び*/
#category{
  color: #666;
  display: inline-block;
}
/*テキストボックス*/
#textbox{
  height: 40px;
  width: 450px;
  color: #666;
  border-radius: 10px;
  border: 1px solid #666;
  text-align: center;
  outline: none;
}
/*ボタン中央揃え*/
#button_p{
  text-align: center;
  margin-bottom: 50px;
}
/*ボタン横並び*/
#button{
  margin: 10px 20px;
  display: inline-block;
}