/*中央寄せ*/
#oldpass{
  text-align: center;
  margin: 20px 10px 10px;
}
/*中央寄せ*/
#newpass{
  text-align: center;
  margin: 20px 10px 10px;
}
/*文字の大きさ、色*/
#text{
  font-size: large;
  color: #666;
}
/*テキストボックス設定*/
#password{
  border-radius: 10px;
  border: 1px solid #666;
  border-color: #666;
  outline: none;
  width: 500px;
  height:50px;
  background:#fffef4;
}
/*ボタン中央揃え*/
#button_p{
  text-align: center;
  margin-bottom: 100px;
  margin-top: 50px;
}
/*ボタン横並び*/
#button{
  margin: 10px 20px;
  display: inline-block;
}